.top-items1,
.your-cart {
    text-align: center;
}

.your-cart p:nth-child(1) {
    margin-top: 80px;
    margin-bottom: 5px;
    color: #202020;
    font-weight: 500;
    /*font-size: 18px;*/
    font-size: 1.3em;
}

.your-cart p:nth-child(2) {
    /*	margin-top: 80px;
*/
    margin-bottom: 30px;
}

select {
    width: 60%;
    border: none;
    outline: none;
    background-color: white;
    padding-right: 30px;
}


input[type="checkbox"]:checked body {
    display: none;
}

body:contains-selector(a.active) {
    background: red;
}

footer {
    position: fixed;
    /*text-align: center;*/
    bottom: 0;
    left: 38%;
}
.cart-grid{
	display: flex;
}
.total_checkout{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 1000px;
	max-width: 98%;
	margin: 0 auto;
	/*padding-top: 20px;*/
	margin-top: 20px;
	
}
.total_checkout .total{
	font-weight: bold;
	color: #202020;
	text-align: end;
	/*text-align: center;*/
	margin:0 64px 0 64px;
	/*padding-right: 50px;*/
	word-spacing: 20px;
	letter-spacing: 0.3px;
	
}
.total_checkout .checkout{
	/*padding-right: 65px;*/
	margin-right: 65px;
	font-size: 13px;
	font-weight: 500;
}
.cart-details{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr auto;
	justify-items: center;
	align-items: center;
	width: 1000px;
	max-width: 98%;
	margin: 0 auto;
}
.cart_product_name{
	font-weight: 500;
	letter-spacing: 0.3px;
}
.cart-details .cart-details1 {
	justify-self: right;
	/*padding-right: 20px;*/
	margin-right: 20px;
}

.cart-details .cart-details2 {
	justify-self: left;
}
.cart-details .cart-details4 {
	word-spacing: 15px;
}

.cart-details1 img{
	/*justify-content: end;*/
	/*text-align:f right;*/
}

@media (min-width: 360px) and (max-width: 768px){
	.cart-details .cart-details2{
		grid-column: 2/6;
	}
	.cart-details .cart-details6{
		grid-row: 1/2;
		grid-column: 6/7;
	}
	.cart-details .cart-details1{
		grid-row: 1/3;
	}
	.cart-details .cart-details3,.cart-details4,.cart-details5{
		grid-row: 2/3;
	}
	.cart-details .cart-details3{
		grid-column: 2/4;
	}
	.cart-details .cart-details4{
		grid-column: 4/6;
	}
	.cart-details .cart-details5{
		grid-column: 6/7;
	}
	footer{
		display: none;
	}
	.your-cart p:nth-child(1) {
    margin-top: 13px;
	}
}
@media screen and (max-width: 360px)
{
	.cart-details{
		grid-template-rows: auto;
	}
	.cart-details2{
		grid-column: 2/6;
	}
	.cart-details3{
		grid-row: 2;
	}
	.cart-details4{
		grid-row: 3;
		margin-left: -22px;
	}
	.cart-details5{
		grid-row: 4;
		margin-left: -42px;
	}
	.cart-details3,.cart-details4,.cart-details5{
		grid-column:2/4 ;
	}
	.your-cart p:nth-child(1) {
    margin-top: 13px;
	}

	footer{
		display: none;
	}
		
}



/*.cart_grid{
	display: grid;
}
.cart-details{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	
}
.total_checkout{
	
	display: flex;
	flex-direction: row;
}
.total{
	flex: 6;
	text-align: end;
	padding-right: 20px;
}
.checkout{
	flex: 2;
}
.cart_product_name{

	grid-auto-row: minmax(10px,auto);
}*/


/*.cart_grid{
	display: flex;
	flex-direction: column;

}
.cart-details{
	flex:1;
	display: flex;
}
.cart-details div{
	flex :1;
	text-align: end;
}
.cart-details div:nth-child(2){
	flex :2;
}
.cart-details div:last-child{
	padding-right: 40px;
	color: #202020;
}
.total_checkout{
	display: flex;
}
.total p{
	word-spacing: 20px;
}
.total_checkout div:nth-child(1){
	flex: 3;
	text-align: end;
}
.total_checkout div:last-child {
	flex: 1;
	text-align: center;
}*/

