
.checkout-header{
	text-align: center;
	margin-top: 80px;
}
.checkout-header>h1 {
	font-weight: normal;
	color: #202020;
	font-size: 16px;
	margin-bottom: 1%;
}
.checkout-header p{
	font-size: 13px;
}
.billing{
	display: none;
}

input[type=checkbox]:checked~.billing{
	display: block;
}
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items : center;
	grid-gap: 10%;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 110px;

}

.form_section h2{
	color: #202020;
	font-weight: bold;
	padding-top: 6%;
}

.form1,.form2{
	width: 100%;
}

input[type="text"],input[type="number"]{
	border: none;
	border-bottom: 1px solid grey;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
	display: block;
	width: 100%;
	/*padding: 4px;*/
	padding-top: 20px;
}
.expiry,.country{
	margin-top: 10%;
	display: block;
	color: #202020;
}

.month,.year ,.country_details{
	width: 40%;
	background-color: white;
	outline: none;
	border-style: none;
	margin-bottom: 1px solid #202020;
}

.order_summary_details{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10%;
	color: #202020;
	/*grid-auto-columns: minwidth(10px,auto);*/
}
.order_summary_details .a {
	display: block;
	width: 200px;
}
.order_summary_details *{
	padding: 5%;
}
.shipping label{
	display: inline-block;
	padding-top: 20px;
}
/*sdjshdjshdjsdjsd*/
h2{
	font-size: 12px;
}
.state-zip{
	display: flex;
}
.state{
	flex: 50%;
}
.zip{
	/*flex: 50%;*/
}



@media screen and (max-width: 768px)
{
	.form{
		grid-template-columns: 1fr;
		padding-bottom: 80px;
	}
	
}