
.checkout-header{
	text-align: center;
	margin-top: 10%;
}
.checkout-header>p:first-child {
	font-weight: 400;
	color: black;
	margin-bottom: 1%;
}
.billing{
	display: none;
}
input[type=checkbox]:checked~.billing{
	display: block;
}
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items : center;
	grid-gap: 10%;
	padding: 0 20%;

}

.form_section p{
	color: black;
	font-weight: 600;
	padding-top: 6%;
}

.form1,.form2{
	width: 100%;
}
input[type="text"],input[type="number"]{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 4px;
}
.expiry{
	margin-top: 10%;
	display: block;
	color: black;
}
.month,.year ,.country{
	width: 40%;
	background-color: white;
	outline: none;
	border-style: none;
	margin-bottom: 1px solid black;
}
.order_summary_details{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10%;
	/*grid-auto-columns: minwidth(10px,auto);*/
}
.order_summary_details .a {
	display: block;
	width: 200px;
}
.order_summary_details *{
	padding: 5%;
}
.shipping label{
	display: inline-block;
	padding-top: 20px;
}
.responsive{
	position: fixed;
	width: 100%;
	height: 40px;
	bottom: 0;
	left: 0;
	/*color: white;*/
	/*margin: 0;*/
}
input.responsive{
	background-color: blue;
	text-align: center;
}
.responsive{
	display: none;
}

@media screen and (max-width: 768px)
{
	.form{
		grid-template-columns: 1fr;
		padding-bottom: 80px;
	}
	.responsive{
		display: block;
	}
}