.item_list {
    display: flex;
    /*	justify-content: space-around;*/
    justify-content: center;
    margin-bottom: 15px;
}

.item_list_name {
    padding: 11px 10px;
    font-size: 12px;
    /*font-style: 'Roboto', 'Noto', sans-serif;*/
    margin-top: 2%;
}
.item_list_name:active {
    background-color: #acabb2;
    animation-timing-function: ease-out; 
    animation-duration: 4s;
}

/*.item_list_name:nth-child(1) {
    border-bottom: 1px ;

    padding-right: 1%
}*/
.item_list_name:nth-child(1):active ,
.item_list_name:nth-child(2):active ,
.item_list_name:nth-child(3):active ,
.item_list_name:nth-child(4):active
{
    border-bottom: 2px solid black;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    padding: 40px 20px 40px 20px;
}
.image-details img{
    height: 100%;
    width: 100%;
}

.product>.item {
    /*padding-right: -10px;*/
}

.size-quantity {
    display: flex;
    flex-direction: column;
}

.size {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.quantity {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.quantity label {
    /*display: inline-block;*/
}

select {
    width: 80%;
    border: none;
    outline: none;
    background-color: white;
}

.description>h3 {
    color: #000010;
}

.description p {
    text-align: justify;
}


.product-details p{
    padding-bottom: 16px; 
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.price p{
    padding-bottom: 24px;
}

.size,.quantity{
    padding-top: 20px;
    padding-bottom: 20px;
}
.size-quantity{
    padding-bottom: 50px;
}


@media screen and (max-width: 768px){
    .item_list,.home_icon img{
        display: none;
    }
    /*.image .im,*/
    .product
    {
        grid-template-columns: 1fr;
    }
}