a{
	text-decoration: none;
}

.top{
	display: flex;
	justify-content: space-between;
}
.top-items{
	flex-direction: column;

}
.item_list{
	display: flex;
/*	justify-content: space-around;*/
	justify-content: center;
}
.item_list_name:nth-child(1):active {
	border-bottom: 1px solid red;
	/*padding-right: 1%;*/
}
.item_list_name:nth-child(2) {
	border-bottom: 1px solid grey;
	/*padding-right: 1%;*/
}
.item_list_name:nth-child(3) {
	border-bottom: 1px solid grey;
	/*padding-right: 1%;*/
}
.item_list_name:nth-child(4) {
	border-bottom: 1px solid grey;
	/*padding-right: 1%;*/
}
