*{
    margin: 0px;
    font-family: 'Arial', 'Halvetica', sans-serif;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color : #202020;
    /*border: 5px solid #202020;*/
}
/*a:active{
    background-color: #706f77;
}
a:focus{
    background-color: #706f77;
}*/

body {
    color: #757575;
    font-size: 13px;
}


.top {
    display: flex;
    /*justify-content: flex-end;*/
    text-align: center;
}

.top-items {
    flex-direction: column;
    font-weight: 600;
    letter-spacing: .30em;
    /*flex: 1;*/
    font-size: 16px;
    color: #202020;
    line-height: 1.5;
    margin-top: 20px;
    /*padding-top: 1%;*/
}

.top-items:nth-child(1){
    flex: 10%;
}
.top-items:nth-child(2){
    flex: 80%;
}
.top-items:nth-child(3){
    flex: 10%;
}

.top-items img{
    height: 21px;
    width: 21px;
    padding-right: 4px;
    padding-top: 2px;

}
.top-items img:active{
    border-radius: 50%;
    background-color: #9e9d96;
}

.button {
    background-color: white;
    /*padding: 3% 9% 3% 9%;*/
    padding: 8px 44px;
    border: 2px solid #202020;
    font-size: 16px;
    margin-top: 3%;
    font-color: #202020;
}

/*footer>p{
    position: relative;
    
    top: 100%;
    left:46%;
}*/
.home_icon{
    text-align: center;
    overflow: hidden;
}
.home_icon p:nth-child(2){
    font-weight: 500;
    font-size: 1.3em;
    color: #202020;
    letter-spacing: .5px;
    margin-bottom: 4px;
    /*margin: 0 0 4px 0;*/
}
.capital button,.capital{
    text-transform: uppercase;
}
.home_icon img{
    object-fit: cover;
    width: 100%;
    height: 320px;
    margin-bottom: 3%;
}

.checked_display{
    position: absolute;

}
.checked_display,nav{
    display: none;
}
.checked_display input:checked~nav{
        display: block;
        background-color: white;
        opacity: 1;
        width: 200px;
        height:600px;
    }
.checked_display input:checked+label{
        display: none;
    }

.checked_display input{
    display: none;
}
.checked_display label{
    color: #202020;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 5px 9px;
    transition: all .15s ease;
}
.checked_display label:hover{
    color: #ff7b29;
}

.checked_display ul{
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    width: 100px;
}
.checked_display a {
  color: #0087cc;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
.checked_display a:hover {
  color: #ff7b29;
}
.responsive{
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    /*color: white;*/
    /*margin: 0;*/
}
input.responsive{
    background-color: #172C50;
    text-align: center;
    color: white;
    /*font-weight: bold;*/
    /*padding: 20px;*/
    font-size: 15px;
}
.responsive{
    display: none;
}
.topitems input[type="checkbox"]{
    display: none;
}

/*transition part of form*/

/*body{
    margin: 0;
    padding: 0;

}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

.box h2{
    margin: 0 0 30px;
    text-align: center;
}
.box .inputBox {
    position: relative;
}

.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;

}

.box .inputBox label{
    position: absolute;

    top: 0;
    left: 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: green;
    font-size: 12px;
}
*/
/*css ends here for form*/


@media screen and (max-width: 768px){
.checked_display{
        display: block;
    }
    .button{
        display: none;
    }
    .responsive{
        display: block;
    }
}